/* https://www.figma.com/proto/v4xu5W1zgnntFlhDtha0aV/Web-Design-Challenge-work?page-id=0%3A1&node-id=1%3A983&viewport=241%2C48%2C0.52&scaling=min-zoom */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p {
    line-height: 1.9rem;
}

a {
    text-decoration: none;
    color: coral;
}

header {
    padding: 30px;
}

header a {
    color: #063255;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: end
}

.nav-bar li {
    list-style-type: none;
    padding: 15px;
}

.center {
    margin: auto 0;
}

.cta-btm a {
    color: #F58A07;
}

.cta-btm {
    background-color: #f4daba;
    padding: 20px;
    border-radius: 9px;
}

.main-page {
    background-color: #DCEAF5;
    margin: 0 auto;

}

.relative {
    position: relative;
}

.mainimg {
    position: absolute;
    bottom: 0;
    width: 700px;
    height: 600px;
    right: 25px;
}

.strategy img {
    width: 100%;
    border-radius: 20px;
}

.prosper {
    font-size: 56px;
    color: #063255;

}

.ctm a {
    color: white;
}

.ctm {
    width: 200px;
    margin: 20px 0;
    background-color: #F58A07;
    padding: 15px;
    border-radius: 90px;
    text-align: center;
}

.worked {
    margin: 30px 0;

}

.worked img {
    padding: 20px 0;
    padding-right: 10px;
}

.our a {
    padding: 20px 0;
    color: #063255;
    text-align: center;
}

.our a:hover {
    padding: 20px;
    color: white;
    background-color: #F58A07;
    border-radius: 50px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    flex-grow: 1;
}

.col-2 {
    width: calc(100%/2 - 40px);
}

.col-3 {
    width: calc(100%/3 - 40px);
}

.we-help {
    padding: 30px 0;
}

section {
    padding: 70px;
}

.invoicing {
    background-color: white;
    padding: 30px;
    border-radius: 9px;


}

.experience {
    font-size: 28px;
    padding: 20px 0;
}

.experience p {
    padding: 20px 0;
}

.award {
    color: coral;
    font-size: 36px;
}

.team {
    padding: 30px;
}

.energy {
    background-color: #F58A07;
    color: white;
    padding: 0;
}

.copyright {
    margin-top: 100px;
}

.experience-content {
    padding: 150px 0;
    width: 50%;
}

.pic {
    width: 100%;
    height: 100%;
    background-image: url(../images/experience-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.invoic {
    background-color: white;
    border-radius: 20px;
}

.invoic img {
    padding: 0;
    width: 100%;
}

footer {
    background-color: #063255;
    color: white;
    padding: 40px;
    line-height: 2rem;
    height: 463px;
    position: relative;
}

footer a {
    color: white;
}

.type-email {
    background-color: aliceblue;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
}

.type-email a {
    color: black;

}

.icon i {
    padding: 5px;
}

.see-job {
    margin: 60px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 60px;
}

.latest a {
    color: #F58A07;
}

.risk a {
    color: #86bfee;
    padding: 10px;
    border: 3px solid #86bfee;
    border-radius: 50px;
}

.risk a:hover {
    color: #F58A07;
    background-color: white;
    border: 3px solid white;
}

.all img {
    width: 100%;
}

.all {
    align-items: center;
}

.p2h2 {
    font-size: 48px;
}

.all ul {
    line-height: 1.9rem;
}

.ribbon {
    position: absolute;
    right: -15px;
    top: -15px;
}

.play {
    padding: 17px;
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;

}

.playbtm {
    display: flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.ceobtm {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}

.pos-tab {

    background: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
}

.pos-tab a {
    padding-top: 20px;
}

.lblog {
    padding: 20px;
}

.ll {
    justify-content: left;
}

.orange img ::after {
    position: absolute;
    width: 180px;
    height: 650px;
    background: #F58A07;
    mix-blend-mode: multiply;

}

footer::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 287px;
    right: 0;
    top: 20px;

    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
}

footer::before {
    content: "";
    position: absolute;
    width: 53px;
    height: 144px;
    left: 0px;
    bottom: 0;
    background: #F58A07;
    transform: rotate(180deg);
}

.enrgy1::after {
    border-radius: 20px;
    content: "";
    position: absolute;
    width: 153px;
    height: 99%;
    left: 0px;
    top: 0;
    background: #F58A07;
    mix-blend-mode: multiply;
}

footer ul {
    list-style-type: none;
}

.WE {
    font-size: 56px;
}

.allpost {
    font-size: 48px;
}

.enrgy2::after {
    border-radius: 10px;
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    left: -40px;
    top: 150px;
    background: #F58A07;
    mix-blend-mode: multiply;
}

.enrgy3::after {
    border-radius: 10px;
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    right: -40px;
    top: 150px;
    background: #F58A07;
    mix-blend-mode: multiply;
}

/* page 4 style */
.bora {
    border-radius: 15px;
}

.apost {
    background-color: #c3dbef;
    border-radius: 15px;
}

.apost img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.margin {
    margin-top: 55px;
}

.row-2 {
    display: flex;
    align-items: center;
}

.row-2 p {
    padding-left: 10px;
}

/* page 5 style */
.meeting {
    width: 100%;
    border-radius: 18px;
}

.page5pad {
    padding: 30px 250px;
}

.page5pad h1 {
    font-size: 50px;
    padding: 20px 0;
}

.page5pad p {
    padding: 10px 0;
}

/* page 6 style */
.input {
    width: 100%;
    padding: 15px 23px;
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    color: #D2DAED;
    border: none;
}

.big {
    height: 300px;
}

.padding-bottom {
    padding-bottom: 20px;
}

.page6pad {
    padding: 80px;
}

.titles {
    display: flex;
    font-size: 36px;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
}

/* page 7 style */

.input-type {
    width: 100%;
    padding: 15px 23px;
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    color: #D2DAED;
    border: none;
    height: 130px;
}

.margin-bottom {
    margin-bottom: 20px;
}