/* https://www.figma.com/proto/v4xu5W1zgnntFlhDtha0aV/Web-Design-Challenge-work?page-id=0%3A1&node-id=1%3A983&viewport=241%2C48%2C0.52&scaling=min-zoom */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    line-height: 1.9rem;
}
a{
    text-decoration: none;
    color: #063255;
}

header{
   padding: 30px;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}
.nav-bar{
    display: flex;
    justify-content:end
}
.nav-bar li {
    list-style-type: none;
    padding: 15px;
}
.cta-btm a{
    color: #F58A07;
}
.cta-btm{
    background-color:#f4daba ;
    padding: 20px;
    border-radius: 9px;
}

.main-page{
    background-color: #DCEAF5 ;
    margin: 0 auto;

}
.prosper{
    font-size: 64px;
    color: #063255;

}
.ctm a{
    color: white;
}
.ctm{
    margin: 9px 0;
    background-color: #F58A07;
    padding: 20px;
    border-radius: 90px;
    text-align: center;
}
.worked{
    margin: 30px 0;
    
}
.worked img{
    padding: 20px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}
.col-2{
    width: calc(100%/2 - 40px);
   
}
.col-3{
    width: calc(100%/3 - 40px);
}
.we-help{
    padding: 30px 0;
}
section{
    padding: 70px 0;
}
.invoicing{
    background-color: white;
    padding: 30px;
    border-radius: 9px;
    
    
}
.experience{
    font-size: 28px;
    padding: 20px;
}
.award{
    color: coral;
    font-size: 36px;
}
.team{
    padding: 30px;
}
.energy{
    background-color: #F58A07;
    color: white;
    padding: 0;
}

.experience-content{
    padding: 150px 0;
    width: 50%;
}
.pic{
    width: 100%;
    height: 100%;
    background-image: url(../images/experience-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.invoic{
    background-color: white;
    border-radius: 20px;
}
.invoic img{
    width: 100%;
}
.invoic p{
  padding: 20px;
}
footer{
    background-color: #063255;
    color: white;
    padding: 40px;
    line-height: 2rem;
}
footer a{
    color: white;
}
.type-email{
    background-color: aliceblue;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
}
.type-email a{
    color: black;
    
}